<%- include('header') -%>
<h1>Hello, <%= sanitize(username) %></h1>
<form hx-put="/users/update-password">
	<label for="new_password">New Password</label>
	<input type="password" name="new_password" />
	<button type="submit">Change Password</button>
</form>
<% if (items.length > 0) { %>
	<h2>Your Items</h2>
	<%- include('item-table') -%>
<% } %>
<%- include('footer') -%>
