@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pirata+One&display=swap");

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular,
* {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold,
strong,
dt {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

dt::after {
	content: ':';
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic,
em {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic,
em strong,
strong em {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.tag {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.tag dd {
	margin-inline-start: 0;
}

.clean-button {
	border: none;
}

.tag-delete {
	opacity: 0;
}

.tag-delete:focus, .tag-delete:hover {
	opacity: 1;
}

.tag:hover .tag-delete {
	opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pirata One", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  border-bottom: 1px solid #ddd;
}

table {
  border-spacing: 0;
}

th {
  border-bottom: 1px solid black;
  font-weight: bold;
}

table td {
  border-right: 1px solid black;
  padding: 0.1rem 1rem;
}

table tr:nth-child(2n) {
  background: #eee;
}

table td:last-child {
  border-right: none;
}

/* form { */
/*   display: flex; */
/*   flex-direction: column; */
/* } */

a {
  color: black;
}

button,
.button-like {
  background: white;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
  margin: 0.5rem 0;
  text-decoration: none;
}

button:hover,
.button-like:hover,
button:focus,
.button-like:focus {
  background: #ddd;
}

button:active,
.button-like:active {
  background: #aaa;
}

a:hover,
a:focus {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

table {
  width: 80%;
  margin: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hidden {
  visibility: hidden;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.item-image {
	height: 150px;
}

#page_body {
  position: relative;
  margin: auto;
}

.comment + .comment {
	border-top: 1px solid #ddd;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #page_body {
    width: 100%;
  }

	.navbar a span {
		display: none;
	}

	.navbar {
		justify-content: space-between;
		padding: 0 2rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #page_body {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #page_body {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #page_body {
    width: 990px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #page_body {
    width: 1200px;
  }
}
